/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.position-relative {
  position: relative;
}

.full-width {
  width: 100%;
}

.inline-flex {
  display: inline-flex;
}

.justify-center {
  justify-content: center;
}

.reply-vertical-line {
  display: inline-block;
  position: absolute;
  height: 100%;
  left: 20px;
  margin: 10px 0;
  div {
    border-left: 1px solid #CDCEDA;
    height: calc( 100% - 10px );
  }
}
.reply-container {
  margin: 10px 0 10px 40px;
}
